.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*products page*/
/* .category {
  margin-bottom: 40px;
}

.category-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.category-products {
  display: flex;
  flex-direction: column;
}

.product-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.product-details {
  flex: 1;
}

.product-name {
  font-size: 20px;
  margin: 0;
  color: #000;
}

.product-description {
  margin: 5px 0;
  color: #666;
}

.product-pricing {
  margin-top: 10px;
}

.price, .original-price, .discount-price {
  font-size: 16px;
  color: #000;
}

.original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
}

.discount-price {
  color: #e53935;
} */